body,html{
	height:100%;
	
}

.parallax{
	background-image:URL('background.jpg');
	height:100%;
	background-attachment:fixed;
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
}

.parallaxStyle{
	height:1000px;
	background-color: LightSeaGreen;
	font-size:35px;
	
}

@media only screen and (max-device-width: 1024){
	
	.parallax{
		background-attachment:scroll;
	}
}
.AboutMe-bar{
	text-align:right;
	margin-right: 150x;
}

.AboutMe-bar a {
	padding: 0 3px 0 5px;
	text-decoration: none;
}
.About-bar{
	background-color:LightSeaGreen;
	text-align:center;
	padding-left:20px;
	margin-bottom:50px;
	font-size:35px;
	
}