
.AboutMe-bar{
	text-align:right;
	margin-right: 150x;
}

.AboutMe-bar a {
	padding: 0 3px 0 5px;
	text-decoration: none;
}
.About-bar{
	background-color:LightSeaGreen;
	text-align:center;
	padding-left:20px;
	margin-bottom:50px;
	font-size:35px;
	
}
.Images{
	height:60%; 
	width:70%;
	margin-left:200px;
	margin-bottom:50px;
	
}