.info{
	
	background-color: black;
	float: left;
	margin-right:20px;
	padding-left:15px;
	padding-right:15px;
	padding-bottom:15px;
	padding-top:15px;
	overflow:auto;

}
.work{
	
	margin-top:400px;
	text-align:justify;
	margin-right:10px;
	
}

.page-name{
	background-color:LightSeaGreen;
	text-align:center;
	padding-left:20px;
	margin-bottom:50px;
}

.profpict{
	float: left;
}